<section data-ng-controller="ConstitutionsController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Update Constitution</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/constitutions">Constitution</a>
          </li>
          <li class="active">
            <strong>Update Constitution</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="constitutionName">Constitution Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="constitution.constitutionName" id="constitutionName" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="natureOfConstitution">Nature Of Constitution</label>
                <div class="controls">
                  <input type="Text" data-ng-model="constitution.natureOfConstitution" id="natureOfConstitution" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dateOfFormation">Date Of Formation</label>
                <div class="controls">
                  <input type="Date" data-ng-model="constitution.dateOfFormation" id="dateOfFormation" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="registeredAddress">Registered Address</label>
                <div class="controls">
                  <input type="Text" data-ng-model="constitution.registeredAddress" id="registeredAddress" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="phoneNumber">Phone Number</label>
                <div class="controls">
                  <input type="Number" data-ng-model="constitution.phoneNumber" id="phoneNumber" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="contactPerson">Contact Person</label>
                <div class="controls">
                  <input type="Text" data-ng-model="constitution.contactPerson" id="contactPerson" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="Text" data-ng-model="constitution.email" id="email" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="website">Website</label>
                <div class="controls">
                  <input type="Text" data-ng-model="constitution.website" id="website" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>