<section data-ng-controller="ConstitutionsController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Constitution</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/constitutions">Constitution</a>
          </li>
          <li class="active">
            <strong>View Constitution</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == constitution.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/constitutions/{{constitution._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Constitution Name </dt><dd>{{ constitution.constitutionName }}</dd>
              
            
                
                 <dt>Nature Of Constitution </dt><dd>{{ constitution.natureOfConstitution }}</dd>
              
            
              
                 <dt>Date Of Formation </dt><dd>{{ constitution.dateOfFormation | date }}</dd>
              
            
                
                 <dt>Registered Address </dt><dd>{{ constitution.registeredAddress }}</dd>
              
            
                
                 <dt>Phone Number </dt><dd>{{ constitution.phoneNumber }}</dd>
              
            
                
                 <dt>Contact Person </dt><dd>{{ constitution.contactPerson }}</dd>
              
            
                
                 <dt>Email </dt><dd>{{ constitution.email }}</dd>
              
            
                
                 <dt>Website </dt><dd>{{ constitution.website }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
