<section data-ng-controller="ClassRoomsController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Update Classroom</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/class-rooms">ClassRoom</a>
          </li>
          <li class="active">
            <strong>Update Classroom</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="update()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="capacity">Capacity</label>
                <div class="controls">
                  <input type="Number" data-ng-model="classroom.capacity" id="capacity" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="institutionAssignedTo">Institution Assigned To</label>
                <div class="controls">
                  <input type="Text" data-ng-model="classroom.institutionAssignedTo" id="institutionAssignedTo" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="institutionAssignedSince">Institution Assigned Since</label>
                <div class="controls">
                  <input type="Date" data-ng-model="classroom.institutionAssignedSince" id="institutionAssignedSince" class="form-control" placeholder="" required />
                </div>
              </div>    
            
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>