<section data-ng-controller="ClassRoomsController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Classroom</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/class-rooms">ClassRoom</a>
          </li>
          <li class="active">
            <strong>View Classroom</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == classroom.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/class-rooms/{{classroom._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Capacity </dt><dd>{{ classroom.capacity }}</dd>
              
            
                
                 <dt>Institution Assigned To </dt><dd>{{ classroom.institutionAssignedTo }}</dd>
              
            
              
                 <dt>Institution Assigned Since </dt><dd>{{ classroom.institutionAssignedSince | date }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
