<section data-ng-controller="TrusteesController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>New Trustee</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/trustees">Trustee</a>
          </li>
          <li class="active">
            <strong>New Trustee</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form data-ng-submit="create()" novalidate>
          <fieldset>
            <div class="row">
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="name" id="name" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="address">Address</label>
                <div class="controls">
                  <input type="Text" data-ng-model="address" id="address" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="phoneNumber">Phone Number</label>
                <div class="controls">
                  <input type="Number" data-ng-model="phoneNumber" id="phoneNumber" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="designation">Designation</label>
                <div class="controls">
                  <input type="Text" data-ng-model="designation" id="designation" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dateOfJoining">Date Of Joining</label>
                <div class="controls">
                  <input type="Date" data-ng-model="dateOfJoining" id="dateOfJoining" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dateOfCeasation">Date Of Ceasation</label>
                <div class="controls">
                  <input type="Date" data-ng-model="dateOfCeasation" id="dateOfCeasation" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="pan">Pan</label>
                <div class="controls">
                  <input type="Text" data-ng-model="pan" id="pan" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                  <input type="Text" data-ng-model="email" id="email" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="fathersName">Fathers Name</label>
                <div class="controls">
                  <input type="Text" data-ng-model="fathersName" id="fathersName" class="form-control" placeholder="" required />
                </div>
              </div>    
            
              <div class="col-md-3 form-group">
                <label class="control-label" for="dateOfBirth">Date Of Birth</label>
                <div class="controls">
                  <input type="Date" data-ng-model="dateOfBirth" id="dateOfBirth" class="form-control" placeholder="" required />
                </div>
              </div>    
                 
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <input type="submit" class="btn btn-primary" />
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>