<section data-ng-controller="TrusteesController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>View Trustee</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/trustees">Trustee</a>
          </li>
          <li class="active">
            <strong>View Trustee</strong>
          </li> 
        </ol>            
    </div>
  </div>
  <!-- general form elements -->
  <div class="ibox float-e-margins"  data-ng-show="((authentication.user) && (authentication.user._id == trustee.user._id))">
    <div class="ibox-content">    
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/trustees/{{trustee._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal"> 
            
                
                 <dt>Name </dt><dd>{{ trustee.name }}</dd>
              
            
                
                 <dt>Address </dt><dd>{{ trustee.address }}</dd>
              
            
                
                 <dt>Phone Number </dt><dd>{{ trustee.phoneNumber }}</dd>
              
            
                
                 <dt>Designation </dt><dd>{{ trustee.designation }}</dd>
              
            
              
                 <dt>Date Of Joining </dt><dd>{{ trustee.dateOfJoining | date }}</dd>
              
            
              
                 <dt>Date Of Ceasation </dt><dd>{{ trustee.dateOfCeasation | date }}</dd>
              
            
                
                 <dt>Pan </dt><dd>{{ trustee.pan }}</dd>
              
            
                
                 <dt>Email </dt><dd>{{ trustee.email }}</dd>
              
            
                
                 <dt>Fathers Name </dt><dd>{{ trustee.fathersName }}</dd>
              
            
              
                 <dt>Date Of Birth </dt><dd>{{ trustee.dateOfBirth | date }}</dd>
              
            
          </dl>
        </div>
      </div>
    </div><!-- /.ibox-content -->
  </div><!-- /.ibox -->
<section>
