<section class="content-header" data-ng-controller="InstitutionsController">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>View Institution</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/institutions">Institution</a>
          </li>
          <li class="active">
            <strong>View Institution</strong>
          </li> 
        </ol>            
    </div>
  </div>
</section>  
<section class="content">
  <!-- general form elements -->
  <div class="box box-primary" data-ng-show="((authentication.user) && (authentication.user._id == leave.user._id))">
    <div class="box-body">
      <div class="pull-right" >
        <a class="btn btn-primary" href="/#!/institutions/{{institution._id}}/edit">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>    
      <div class="row">
        <div class="col-md-4">
          <dl class="dl-horizontal">
            
            <dt>Institution Name</dt><dd>{{ institution.institutionName }}</dd>
            
            <dt>Type Of Institution</dt><dd>{{ institution.typeOfInstitution }}</dd>
            
          </dl>
        </div>
      </div>
      
    </div><!-- /.box-body -->
  </div><!-- /.box -->
<section>
